Makefile
src/*Makefile
*Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
*.deps
*.libs
src/spatoscTest
src/check_distance
*.lo
*.la
*.o
*~
html/
doxyfile
spatosc*.pc
!examples/*/Makefile
examples/.DS_Store
*.pdf
*.gz
*.swp
include/version.h

###### TESTS: #######
tests/check_*
!tests/check_*.cpp

####### Examples: #######
examples/ogrespat/Makefile
examples/ogrespat/Ogre.log
examples/ogrespat/OgreApp
examples/ogrespat/config.h
examples/ogrespat/config.h.in
examples/ogrespat/COPYING
examples/ogrespat/INSTALL
examples/ogrespat/stamp-h1
examples/clutterspat/clutterspat
examples/openalspat/openalspat
examples/ogrespat/ogrespat
examples/spat-ode/spat-ode
examples/hello_world/hello

##### m4 macros: #######
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.pd_linux
doxyfile.stamp
man/
examples/using-the-wrapper/hello
examples/using-the-wrapper/run
